.controls {
	background-color: white;
	border-left: 2px double rgb(100,100,100);
	display: flex;
	flex-direction: column;
	padding: 8px;
	min-width: 400px;

	.header {
		font-size: large;
		font-weight: bold;
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	.section {
		color: rgb(45,45,45);

		.title {
			td {
				color: rgb(150,150,150);
				font-size: small;
				font-weight: light;
				padding: 10px 0px 5px 0px;
				text-transform: uppercase;
			}
		}

		.field {

			.label {
				padding: 4px 10px 4px 0px
			}

			.input {

			}
		}
	}

	.log {
		display: flex;
		flex-direction: column;
		flex-grow: 1;

		.output {
			align-self: stretch;
			background-color: rgb(215,215,215);
			border: 1px solid rgb(175,175,175);
			border-radius: 2px;
			flex-grow: 1;
			padding: 10px;
			margin: 15px 0px 0px 0px;
		}

		.input {
			align-self: stretch;
			display: flex;
			flex-direction: row;
			margin: 5px 0px;

			input {
				height: 1.75em;
				padding: 3px;

				&:focus {
					outline: none;
				}
			}

			input[type="text"] {
				flex-grow: 1;
			}

			input[type="button"] {
				-webkit-appearance: default-button;
				margin: 0px 2px;
			}
		}

	}
}
