.status {
	align-items: center;
	background-color: white;
	bottom: 0;
	border-top: 1px solid rgb(200,200,200);
	color: rgb(75,75,75);
	cursor: default;
	display: flex;
	flex-direction: row;
	// font-weight: lighter;
	left: 0;
	min-height: 64px;
	position: absolute;
	width: 100%;

	.generation, .readyState, .dataSizeReceived {
		padding: 0px 12px;
	}

	.readyState {

	}

	.dataSizeReceived {

	}
}

