.toolbar {
	align-items: center;
	background-color: white;
	border-bottom: 1px solid rgb(200,200,200);
	color: rgb(75,75,75);
	display: flex;
	flex-direction: row;
	min-height: 64px;
	width: 100%;
}

@mixin section() {
	align-items: center;
	border-right: 1px solid rgba(200,200,200,0.5);
	display: flex;
	flex-direction: row;
	min-height: 64px;
	min-width: 64px;
	padding: 0px 16px;
}

.play, .pattern {
	@include section;
}

.label {
	padding: 0px 15px 0px 0px;
}

.play {
	padding-right: 0px;
}

@mixin control() {
	align-items: center;
	display: flex;
	flex-direction: row;
	min-height: 64px;
	min-width: 64px;
	padding: 0px 8px;
}

.interval {
	@include control;
	align-self: stretch;
}

.resume {
	@include control;
	background-image: url("/assets/resume.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50%;
}

.pause {
	@include control;
	background-image: url("/assets/pause.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50%;
}

@mixin tool() {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	min-height: 64px;
	min-width: 64px;
}

.block, .beehive, .loaf, .boat, .tub, .blinker, .toad, .beacon, .pulsar, .glider, .lwss, .mwss {
	@include tool;
	opacity: 0.35;
}

.selected {
	opacity: 1;
	background-color: rgb(235,235,235);
}

.block {
	background-image: url("/assets/block.png");
	background-size: 100%;
} 
.beehive {
	background-image: url("/assets/beehive.png");
} 
.loaf {
	background-image: url("/assets/loaf.png");
}
.boat {
	background-image: url("/assets/boat.png");
}
.tub {
	background-image: url("/assets/tub.png");
}
.blinker {
	background-image: url("/assets/blinker.png");
}
.toad {
	background-image: url("/assets/toad.png");
}
.beacon {
	background-image: url("/assets/beacon.png");
}
.pulsar {
	background-image: url("/assets/pulsar.png");
}
.glider {
	background-image: url("/assets/glider.png");
}
.lwss {
	background-image: url("/assets/lwss.png");
}
.mwss {
	background-image: url("/assets/mwss.png");
}