.toolbox {
	background-color: rgb(245,245,245);
	padding: 5px;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 3;
}

.tool, .selectedTool {
	cursor: default;
	padding: 5px;
}

.tool {
}

.selectedTool {
	background-color: rgb(230,230,230);
	border: 1px solid rgb(225,225,225);
	box-shadow: 1px 1px 1px rgb(200,200,200);
}

.label {
	font-size: small;
	font-weight: light;
	padding: 5px 10px;
}

